/* Aquí puedes agregar tus estilos CSS avanzados */
@font-face {
  font-family: 'Roboto Light';
  src: url('../font/Roboto-Light.ttf') format('truetype');
}

.header {
  background-color: #111;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #e60278;
}

.header p {
  margin: 0;
  font-size: 1.2rem;
  color: white;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin-top: 15px;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #e60278;
}


body {
  background-color: black;
  color: white;
  font-family: 'Roboto Light', Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #111;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #222;
  text-align: center;
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.feature {
  background-color: #333;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}

.button {
  background-color: #e60278;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.interactive-section {
  text-align: center;
}

.result-text {
  font-weight: bold;
  margin-top: 10px;
}
